<a>Planner</a>
<a>Calendar</a>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-1">
        <h3>Monday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
    <div class="col-lg-1">
        <h3>Tuesday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
    <div class="col-lg-1">
        <h3>Wednesday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
    <div class="col-lg-1">
        <h3>Thursday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
    <div class="col-lg-1">
        <h3>Friday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
    <div class="col-lg-1">
        <h3>Saturday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
    <div class="col-lg-1">
        <h3>Sunday</h3>
        <div>
            <p class="time-block top-time">5:00a</p>
            <p class="time-block">5:30a</p>
            <p class="time-block">6:00a</p>
            <p class="time-block">6:30a</p>
            <p class="time-block">7:00a | Wake up</p>
            <p class="time-block">7:30a</p>
        </div>
    </div>
</div>
