<a>Planner</a>
<a>Calendar</a>
<div class="row">
    <div class="col-lg-1">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Monday</th>
                </tr>
            </thead>
            <tbody>
                <% for( let index=0; index < 18; index++ ) { %>
                    <tr>
                        <td class="time-block"><%= index <= 7? index+5: index-7 %>:00<%= index<7? "a": "p" %></td>
                        <td class="content-block"><%= plans[index+5] %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
