table, th{
    border: 1px solid gray;
}
td{
    border: 1px dotted gray;
}

th, td{
    text-align: center;
}

.time-block{
    text-align: right;
    padding-right: 8px;
}

.content-block{
    min-width: 100px;
}