<h2>In Progress Projects</h2>
<div class="row">
    <div class="col-lg-2 project-tab">
        <h5>Project 1</h5>
    </div>
    <div class="col-lg-2 project-tab">
        <h5>Project 2</h5>
    </div>
    <div class="col-lg-2 project-tab">
        <h5>Project 3</h5>
    </div>
    <div class="col-lg-2 project-tab">
        <h5>Project 1</h5>
    </div>
    <div class="col-lg-2 project-tab">
        <h5>Add a project</h5>
    </div>
</div>