<%- layout('layouts/layout') %> 
<h2>Create New Project</h2>
<form action="/projects/new" method="POST">
    <div>
        <label for="name">Project Name</label>
        <input type="text" name="project[name]" id="name" autocomplete="off">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name="project[description]" id="description" autocomplete="off"></textarea>
    </div>
    <div>
        <label for="deadline">End Date (Optional)</label>
        <input type="date" name="project[deadline]" id="deadline" autocomplete="off">
    </div>
    <button type="submit">Create Project</button>
</form>
<a href="/projects">Cancel</a>